@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --esc-carmine-50: #f3e8e9;
    --esc-carmine-100: #e6d1d3;
    --esc-carmine-200: #cda3a7;
    --esc-carmine-300: #b4757b;
    --esc-carmine-400: #9b474f;
    --esc-carmine-500: #821923;
    --esc-carmine-600: #68141c;
    --esc-carmine-700: #4e0f15;
    --esc-carmine-800: #340a0e;
    --esc-carmine-900: #1a0507;
}

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #09090b;
        --card: #ffffff;
        --card-foreground: #09090b;
        --popover: #ffffff;
        --popover-foreground: #09090b;
        --primary: var(--esc-carmine-500);
        --primary-foreground: #fff1f2;
        --secondary: #f4f4f5;
        --secondary-foreground: #18181b;
        --muted: #f4f4f5;
        --muted-foreground: #71717a;
        --accent: #f4f4f5;
        --accent-foreground: #18181b;
        --destructive: #ef4444;
        --destructive-foreground: #fafafa;
        --border: #e4e4e7;
        --input: #e4e4e7;
        --ring: var(--esc-carmine-500);
        --radius: 0.5rem;
    }

    .dark {
        --background: #0c0a09;
        --foreground: #f2f2f2;
        --card: #1c1917;
        --card-foreground: #f2f2f2;
        --popover: #171717;
        --popover-foreground: #f2f2f2;
        --primary: var(--esc-carmine-500);
        --primary-foreground: #fff1f2;
        --secondary: #27272a;
        --secondary-foreground: #fafafa;
        --muted: #262626;
        --muted-foreground: #a1a1aa;
        --accent: #292524;
        --accent-foreground: #fafafa;
        --destructive: #7f1d1d;
        --destructive-foreground: #fef2f2;
        --border: #27272a;
        --input: #27272a;
        --ring: var(--esc-carmine-500);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

html,
body {
    font-family: var(--font-manrope), var(--font-ibm-plex-sans-thai), sans-serif;
}
